<div id="fab-wrapper">
    <button id="fab-menu">
        {% if site.data.theme.logo %}
        <img src="{{ site.data.theme.icon }}" id="avatar" alt="{{ site.data.theme.name }}" />
        {% elsif site.data.theme.social.gravatar %}
        <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar"
            alt="{{ site.data.theme.name }}" />
        {% else %}
        <img src="/assets/img/logo.png" id="logo" alt="{{ site.data.theme.name }}" />
        {% endif %}
    </button>
</div>