<script src="{{ '/assets/js/jquery/jquery-3.4.1.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/bootstrap/bootstrap.bundle.min.js' | relative_url }}"></script>

<script src="{{ '/assets/js/scrollmagic/gsap.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/scrollmagic/ScrollMagic.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/scrollmagic/plugins/animation.gsap.min.js' | relative_url }}"></script>

<script src="{{ '/assets/js/lagomier.js' | relative_url }}"></script>