* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-size: 16px;
  background-color: white;
  color: $body-color;
  line-height: 24px;
  margin: 0;
  border-top: 7px solid theme-color("primary");
}

body > .container {
  min-height: 100vh;
}

.hamburger {
  position: absolute;
  bottom: 1em;
  
}

h1, h2, h3, h4, h5, h6 {
  color: $body-color;
  font-family: $font-family-base;

  &.title {
    font-weight: 800;
  }
}

ul {
  margin: 1em 0;
  list-style: disc;
}

a {
  color: theme-color("primary");
  text-decoration: none;

  &:hover {
    color: theme-color("primary");
    text-decoration: underline;
  }

  &:visited {
    color: theme-color("primary");
  }
}

table {
  font-size: inherit;
  font: 100%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul.posts {
  margin-top: 0;
  list-style-type: none;
  margin-bottom: 10px;

  li {
    line-height: 22px;
    font-size: 16px;
    margin-bottom: 0px;
  }

  span {
    color: lighten($body-color, 13.5%);
    padding-right: 5px;
    font-size:14px;
  }
}

.meta {
  color: lighten($body-color, 13.5%);;
  margin: 0 0 10px 0;
}

.site .footer {
  font-size: 80%;
  color: lighten($body-color, 26%);
  border-top: 4px solid lighten($body-color, 13.5%);;
  overflow: hidden;
}

nav h1, 
nav h2,
nav h3,
nav h4,
nav h5 {
  text-align: center;
}

#bio {
  margin-top: 10px;
  margin-bottom: 15px;
  border: dotted lighten($body-color, 13.5%);
  border-width: 1px 0;
  padding-top: 15px;
}

#social {
  margin-bottom: 10px;
  font-size: 13px;
}

#post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
  margin-bottom: 20px !important;
}

#post ul,
#post ol {
  margin-left: 1.35em;
}

#post code {
  border: 1px solid #ddd;
  background-color: #eef;
  font-size: 85%;
  padding: 0 .2em;
}

#post pre code {
  border: none;
}

.sidebar {
  display: none;
}

@media (min-width: #{map-get($grid-breakpoints, lg)}) {
  .sidebar {
    display: block;
    padding-top: 25px;
    padding-right: 40px;
    font-family: $font-family-base;
  }
  
  .sidebar p {
    font-weight: 200;
  }
  
  .sidebar a {
    font-weight: 400;
  }
}

.content {
  font: 400 16px/22px $font-family-base;
  padding-top: 25px;
  min-height: 400px;
}

@media (min-width: #{map-get($grid-breakpoints, lg)}) {
  .content {    
    border-left: 1px solid #DDD;
    padding-left: 40px;
  }
}

.footer {
  width: 100%;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #EEE;
  overflow: hidden;
}

.aside {
  font-size: 75%;
  color: #666;
}

#logo, #gravatar {
  margin-bottom: 25px;
}

#gravatar {
  width: 180px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

#stalker {
  display: inline-block;
  height: 18px;
  margin-left: 5px;
}

#stalker a {
  width: 29px;
  overflow: hidden;
  float: left;
}

#stalker i {
  font-size: 28px;
  margin-right: 5px;
}

#stalker a:hover {
  text-decoration: none;
  color: theme-color("primary");
}

i.fa-hn {
  font-family: $font-family-base;
  text-align: center;
  font-size: 18px !important;
  position: relative;
  color: white;
}

.home {
  font-size: 24px;
  float: right;
  color: #AAA;
}

.home:hover {
  text-decoration: none;
}

.disclaimer p {
  margin-top: 5px;
  font-size: 11px;
  text-align: center;
}

.footnotes {
  font-size: 14px;
  font-style: italic;
}

.icon-overlay {
  font-size: 16px !important;
  position: relative;
  bottom: 27px;
  left: 5px;
  color: white;
}

.caption {
  margin: 0 auto;
  text-align: center;
  font-size: smaller;
  padding-bottom: 10px
}

sup {
  vertical-align: super;
  font-size: smaller;
}
