* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-size: 16px;
  background-color: white;
  color: $body-color;
  line-height: 24px;
  margin: 0;
  border-top: 7px solid theme-color("primary");
}

body > .container {
  min-height: 100vh;
}

blockquote {
  border-left: 2px solid gray("600");
  padding-top: 0.5rem; padding-left: 1rem;
  padding-bottom: 0.5rem;
  color: gray("600");
  font-style: italic;

  p {
    margin-bottom: 0px;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $body-color;
  font-family: $font-family-base;

  &.title {
    font-weight: 800;
  }
}

ul {
  margin: 1em 0em 1em 1em;
  list-style: disc;
}

a {
  color: theme-color("primary");
  text-decoration: underline;

  &:hover {
    color: theme-color("primary");
  }

  &:visited {
    color: theme-color("primary");
  }
}

table {
  font-size: inherit;
  font: 100%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.meta {
  color: lighten($body-color, 13.5%);;
  margin: 0 0 10px 0;
}

.site .footer {
  font-size: 80%;
  color: lighten($body-color, 26%);
  border-top: 4px solid lighten($body-color, 13.5%);;
  overflow: hidden;
}

#bio {
  margin-top: 10px;
  margin-bottom: 15px;
  border: dotted lighten($body-color, 13.5%);
  border-width: 1px 0;
  padding-top: 15px;
}

#post ul,
#post ol {
  margin-left: 1.35em;
}

#post code {
  border: 1px solid #ddd;
  background-color: #eef;
  font-size: 85%;
  padding: 0 .2em;
}

#post pre code {
  border: none;
}

.sidebar {
  display: none;

  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }

  a,
  a:hover,
  a:active {
    text-decoration: none;

    i {
      width: 1.5em;
    }
  }

  nav {
    margin: 15px 0px;
    padding-top: 15px;
    border: dotted #40474f;
    border-width: 1px 0px 0px 0px;
  }

  ul {
    margin: 0px;
    list-style: none;
  }
}

.sidebar > section {
  position: sticky;
  top: 32px;
}

@media (min-width: #{map-get($grid-breakpoints, lg)}) {
  .sidebar {
    display: block;
    padding-top: 25px;
    padding-right: 40px;
    font-family: $font-family-base;
  }
  
  .sidebar p {
    font-weight: 200;
  }
  
  .sidebar a {
    font-weight: 400;
  }
}

.content {
  font: 400 16px/22px $font-family-base;
  padding-top: 25px;
  min-height: 400px;
}

@media (min-width: #{map-get($grid-breakpoints, lg)}) {
  .content {    
    border-left: 1px solid #DDD;
    padding-left: 40px;
  }
}

.footer {
  width: 100%;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #EEE;
  overflow: hidden;
}

.aside {
  font-size: 75%;
  color: #666;
}

#logo, #gravatar {
  margin-bottom: 25px;
}

#gravatar {
  width: 180px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

#stalker {
  span {
    display: block;
  }

  ul {
    display: inline-block;
    height: 18px;
    margin-left: 5px;
    margin: 0px;
  
    a {
      width: 29px;
      overflow: hidden;
      float: left;
  
      &:hover {
        text-decoration: none;
        color: theme-color("primary");
      }
    }
  
    i {
      font-size: 28px;
      margin-right: 5px;
    }
  }
}

i.fa-hn {
  font-family: $font-family-base;
  text-align: center;
  font-size: 18px !important;
  position: relative;
  color: white;
}

.home {
  font-size: 24px;
  float: right;
  color: #AAA;
}

.home:hover {
  text-decoration: none;
}

.disclaimer p {
  margin-top: 5px;
  font-size: 11px;
  text-align: center;
}

.footnotes {
  font-size: 14px;
  font-style: italic;
}

.icon-overlay {
  font-size: 16px !important;
  position: relative;
  bottom: 27px;
  left: 5px;
  color: white;
}

.caption {
  margin: 0 auto;
  text-align: center;
  font-size: smaller;
  padding-bottom: 10px
}

sup {
  vertical-align: super;
  font-size: smaller;
}
