#fab-wrapper {
  -webkit-transition: opacity 0.5s ease-in-out, 
    visibility 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out, 
    visibility 0.5s ease-in-out;

  position: fixed;
  bottom: 1em;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1000;

  #fab-menu {
    background: transparent;
    border: 0px;
    width: 56px;

    img {
      margin: 0px;
      box-shadow: 1px 1px 10px black;
      border-radius: 50%;
      width: 100%;
      height: auto;
    }
  }
}

@media (min-width: #{map-get($grid-breakpoints, lg)}) {
  #fab-wrapper {
    display: none;
  }
}

button#fab-menu:focus,
button#fab-menu img:focus {
  outline: none;
}

// Toggle the whole fab wrapper - the goal is to have numerous
// menus in  the wrapper, with the main menu being the biggest.
body.scrolled #fab-wrapper{
  opacity: 0; 
  visibility: hidden;
}