---
---

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

// Skeleton variables
// Skeleton sass from https://github.com/whatsnewsaes/Skeleton-Sass v2.1
$font-family: 'Open Sans', sans-serif;
$font-family-ul-span: $font-family;

$bp-larger-than-mobile    : "min-width: 480px" !default;
$bp-larger-than-phablet   : "min-width: 996px" !default;
$container-width-larger-than-mobile: 90% !default;
$container-width-larger-than-phablet: 85% !default;

// Lagom theme variables
// These are pulled in from the _date/theme.yml file and are used within
// the screen.scss file
$site_data_theme_highlight_color: {{ site.data.theme.highlight_color }};

@import "skeleton";
@import "syntax";
@import "screen"