---
layout: default
---

<section id="page-{{page.name}}" class="page" {% if page.images.page %}data-page-image="{{page.images.page}}" {% endif %}>
  <div class="header" {% if page.images.page %}data-header-image="{{page.images.header}}" {% endif %}>
    <h1>{{ page.title }}</h1>
    <div class="meta">
    {% if page.showDate %}<span class="date-iconed">{{ page.date | date: site.data.theme.date_format }}</span>{% endif %}
    {% if page.tags %}<span class="tags-iconed">{{ page.tags | join: ", " }}</span>{% endif %}
    {% if page.read_time %}<span class="read-time-iconed">{{ page.read_time }}</span>{% endif %}
    </div>
  </div>

  <div class="body">
    {{ content }}
  </div>

  <div class="extras">
      <a class="btn btn-outline-secondary"
       href="{{site.github.repository_url}}/blob/master/{{page.path}}"
       alt="Mistakes happen, feel free to correct me.">Edit this page</a>
  </div>
</section>